body {
  background: #bbb;
}

h1 {
  margin-top: 0.666rem;
  padding-top: 7px;
  padding-bottom: 7px;
}

#debugbox {
  color: #0F0;
  background: #000;
  border-radius: 6px;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  max-height: 6.5rem;
  overflow-y: scroll;
}

#debugbox > .dbg_linex {
  padding-top: 2px;
  padding-bottom: 2px;
}

#debugbox > .dbg_line + .dbg_line {
  border-top: 1px solid #141;
}

#debugbox .hdr {
  display: inline-block;
  background-color: #040;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  border-right: 1px dotted #0F0;
  padding: 4px 5px;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

#debugbox .msg {
  display: inline-block;
  padding: 4px 5px;
  position: relative;
  top: -2px;
}

#debugbox > .dbg_line:nth-of-type(even) {
  background: #020;
}

#debugbox > .dbg_line:nth-of-type(odd) > .hdr {
  background: #030;
}

.panel {
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #dddddd;
  padding: 4px;
}

#content > .graph.panel {
}

.graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_width {
  width: 970px;
}

.canvas_size {
  width: 960px;
  height: 600px;
}

.canvas_wrapper {
  background-color: #fff;
  border-radius: 3px;
  border: 1px inset rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.clear_both {
  clear: both;
}

.resizable {
  resize: both;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.panel {
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22), 0 0 20px -4px rgba(255, 255, 255, 0.45) inset;
}

.graph.panel {
  float: left;
  margin-right: 7px;
  padding: 4px;
}

.info.panel {
  float: left;
}

.graph.panel,
.info.panel {
  margin-bottom: 7px;
}

.info.panel > table {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0px;
}

.ui.panel {
  clear: both;
}

footer {
  clear: both;
}

.panel tr > th:first-child {
  text-align: right;
  padding-right: 0.4em;
}


.ui.panel > .buttonbox {
  display: inline-block;
}

.buttonbox > .title {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 1em;
  margin-right: 0.333em;
}

.buttonbox > .title:first-child {
  font-weight: bold;
  margin-left: 0em;
  margin-right: 1em;
}

.buttonbox.bbright {
  float: right;
}

.buttonbox.bbright:after {
  content: " ";
  clear: both;
}

.buttonbox.bbright ~ hr {
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.15;
}

.buttonbox > label + label {
  margin-left: 1em;
}

.buttonbox.uioptbox > label {
  position: relative;
  top: -1px;
}

/* .buttonbox input[type="checkbox"] { */
/*   position: relative; */
/*   top: 2px; */
/* } */

.ui.panel > hr ~ h3 {
  margin-top: 0.5rem;
}

td.blank {
  border: none;
}


button:disabled,
button[disabled] {
  opacity: 0.4;
}

#button_play_pause {
  font-size: 16px;
  padding: 1px 8px;
}

.tt {
  position: relative;
}

.tt::before {
   content: attr(data-title);
   display: none;
   position: absolute;
   width: 240px;
   z-index: 2;

   padding: 3px 5px;
   text-align: left;
   background-color: #f4f4f4;
   border: 2px solid #222;
   border-radius: 6px;
}

.tt.ttleft::before {
   top: 165%;
   right: 0;
}

.tt.ttright::before {
   top: 145%;
   left: 0;
}

.tt.ttleft::after {
  content: " ";
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 50%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}

.tt.ttright::after {
  content: " ";
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 50%;
  margin-top: -8px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}

.show_tt .tt:hover::before,
.show_tt .tt.ttleft:hover::after,
.show_tt .tt.ttright:hover::after {
  display: block;
}

.bbwrapper {
  display: inline-block;
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  margin-bottom: 3px;
}

.bbwrapper.hidden {
  display: none;
}

.bbwrappeditem {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: center;
  height: 24px;
}

#points_label,
#order_label,
#segments_label,
#show_ticks_label {
  margin-right: 0.4rem;
  width: auto;
  padding-top: 3px;
}

#num_points,
#num_order,
#num_segments {
  font-size: 16px;
  cursor: auto;
  padding-top: 3px;
  width: 24px;
}

.buttonbox + .buttonbox {
  margin-left: 0.75rem;
}

.buttonbox.bbright + .buttonbox.bbright {
  margin-right: 2rem;
}

.buttonbox > pre {
  margin: 0;
  border-radius: 6px;
  background-color: #fff;
}

#tbox > pre {
  font-size: 16px;
}

#tbox_slider_wrapper {
  width: 24em;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 1px;
}

#tbox_slider {
  background: #bbb;
  border: 1px inset #999;
  height: 11px;
  width: 100%;
  position: relative;
  top: -1px;
}

#tbox_slider:hover {
  background-color: #c6c6c6;
  border-color: #aaa;
}

#tbox_slider:active {
  background-color: #aaa;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: none;
}

#tbox > pre,
#tbox_slider {
  box-shadow: 1px 1px 2px -1px rgb(0, 0, 0) inset;
}

#tbox_slider_handle {
  display: inline-block;
  background: #e2e2e2;
  border-color: #aaa;
  border-style: outset;
  border-width: 2px;
  width: 24px;
  height: 21px;
  position: absolute;
  left: 0%;
  top: -6px;
  border-radius: 5px;
}

#tbox_slider_handle:hover {
  background: #f2f2f2;
  border-color: #c2c2c2;
}

#tbox_slider_handle.drag,
#tbox_slider_handle.drag:hover {
  background: #bbb;
  border-color: #777;
  border-style: solid;
  border-radius: 0px;
}

.tbox_slider_btn {
  display: inline-block;
}

#canvas_width,
#canvas_height {
  width: 4em;
}

.highlight > td {
  background-color: #F9FBB6;
}

.tabbox_wrapper {
  margin-top: 0.5rem;
}

[id^="alg_opt_tabbox"] {
  display: none;
}

.tabbox_wrapper > .tab > h2 {
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 0;
}

.tabbox_wrapper > .tab {
  display: block;
  float: left;
  background-color: #aaa;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 4px;
  border-top: 1px dashed #999;
  border-left: 1px dashed #999;
  border-right: 1px dashed #999;
  margin-left: 0.3rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabbox_wrapper .tab_input {
  display: none;
}

.tabbox_wrapper > .tab:first-of-type {
  margin-left: 0.666rem;
}

.tabbox_wrapper > .tab:hover {
  background-color: #ddd;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}

#alg_opt_tabs_algorithm_input:checked + .tab,
#alg_opt_tabs_options_input:checked + .tab,
#alg_opt_tabs_mode_input:checked + .tab {
  background-color: #ccc;
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: inset;
  padding-top: 3px;
  padding-bottom: 3px;
}

#alg_opt_tabs_algorithm_input:checked:hover + .tab,
#alg_opt_tabs_options_input:checked:hover + .tab,
#alg_opt_tabs_mode_input:checked:hover + .tab {
  background-color: #ccc;
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: inset;
}

#alg_opt_tabs_algorithm_input:checked ~ #alg_opt_tabbox-algorithm,
#alg_opt_tabs_options_input:checked ~ #alg_opt_tabbox-options,
#alg_opt_tabs_mode_input:checked ~ #alg_opt_tabbox-mode {
  display: block;
}

.tabbox_wrapper > .tabcontent {
  clear: left;
  padding: 0.5rem;
  background-color: #ccc;
  border-left: 1px inset #999;
  border-right: 1px inset #999;
  border-radius: 5px;
}

.tabbox_wrapper > .tabcontent h4 {
  margin-top: 0;
  padding-left: 2px;
  padding-bottom: 0.1rem;
}

#algorithmbox > pre {
  margin-left: 0;
  margin-right: 0;
}

#algorithmbox h4 {
  margin-left: 0;
}

.options th {
  text-align: right;
}

.choice_wrapper {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.choice_wrapper .choice {
  float: left;
  background-color: #EDC5B5;
  border: 2px outset #F9A483;
  border-radius: 0;
  padding: 2px 5px;
  font-size: larger;
  font-weight: bold;
  min-width: 4rem;
  text-align: center;
  position: relative;
  top: -1px;
  left: -1px;
}

.choice_wrapper > .choice:first-of-type,
.choice_wrapper > .choice.selected:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.choice_wrapper > .choice:last-of-type,
.choice_wrapper > .choice.selected:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.choice_wrapper > .choice + .choice {
  margin-left: 0;
  border-left: 1px solid #444;
}

.choice_wrapper .choice:hover {
  border-style: solid;
  border-radius: 0;
  cursor: pointer;
}

.choice_wrapper .choice.selected {
  background-color: #BDEDB5;
  border-color: #5FEB47;
  border-style: inset;
  top: 1px;
  left: 1px;
}

.choice_wrapper .choice.selected:hover {
  cursor: default;
}

.choice_wrapper .choice.disabled,
.choice_wrapper .choice.disabled.selected {
  background-color: #bbb;
  border-color: #999;
  border-style: none;
  color: #555;

}

.choice_wrapper .choice.disabled:hover,
.choice_wrapper .choice.disabled.selected:hover {
  cursor: default;
}

.bool_option_state {
  width: 3rem;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  cursor: pointer;
}

.bool_option_state.on {
  display: inline-block;
  color: #fff;
  background-color: #070;
  border-color: #3a3;
}

.bool_option_state.off {
  display: inline-block;
  color: #fff;
  background-color: #600;
  border-color: #a33;
}

.bool_option_state.on.hidden,
.bool_option_state.off.hidden {
  display: none;
}

